ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 20px;

  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.gallery-item {
  width: 390px;
  height: 260px;
}

.login-form {
  margin-top: 80px;
  margin-bottom: 80px;
}

.change-color {
  margin-bottom: 80px;
}
